
@font-face{
		font-family:swiss;
		src: url('swiss.ttf');
}

@font-face{
		font-family:human;
		src: url('human.ttf');
}

#logo{
	padding:3.5%;
}

#logo img{
	width:30%;	
}

#separador1{
	background-color:#000000;
	height:4%;
}

#banner{
	background:url("banner.jpg");
	padding:15%;
	background-attachment: fixed;
	background-size: cover;
}

#banner div{
	color:#ffffff;
	font-family:swiss;
	font-size:3em;
	margin-top: 5%;
    margin-bottom: 5%;
}

#mensagem1 {
	background-color:#000000;
	color:#ffffff;
	padding:1%;
}

#mensagem1 div{
	display: inline-block;
}

#mensagem1D{
	padding:1%;
	width:47%;
	font-family:swiss;
}

#mensagem1D p{
	margin:0;
	font-size:3em;
	margin-bottom:1%;
	font-family:swiss;
}

#mensagem1D div{
	margin-right:5%;
	margin-top:5%;
	font-family:swiss;
}

#mensagem1E{
	padding:1%;
	width:47%;

}

#mensagem1E p{
	margin:0;
	text-align:justify;
	font-size:1.04em;
	font-family:human;
}

#mensagem1E div{
	width: 61%;
	margin-left:5%;
	margin-top:5%;;
}

#linhamensagem {
	background-color:#ffffff;
	height:3px;
	padding:none;
	width:65%;
}

#servicos{
	
}

.roxo{
	color:#4d3137;
	margin:0;
	font-family:swiss;
	font-size: 1em;
}

.branco{
	color:#ffffff;
	margin:0;
	font-size:1em;
}

#descricaoserv p{
	margin-top:8%;
	font-size:1.3em;
	color: #4e3137;
	margin-bottom:6%;
	font-family:swiss;
}

#separador2 {
	width:40%;
}

#separador2 img{
	width:100%;
}


#expservico {
	width:100%;
	margin-top:6%;
	font-family:human;
}

#expservico div div {
    display: inline-block;
    width: 24%;
    margin: 3%;
	text-align: center;
    font-size: 0.9em;
}

#expservico div div figure {
    margin:0;
}

#expservico div div figure img{
    width: 100%;
    margin-bottom: 9%;
	border: 3px #4d3137 solid;
	border-radius: 10px;
}

#mensagemfinal {
	background-color:#9b012d;
	color:#ffffff;
	margin-top:5%;

}

#mensagemfinal div{
	display: inline-block;
	vertical-align:middle;
}

#mensagemfD{
	width:49%;
}

#mensagemfD img{
	width:100%;
}

#mensagemfE{
	width:50%;
}

#frase {
	margin-left: 10%;
    width: 61%;

}

#comentario {
	 text-align: justify;
    font-size: 1.2em;
	font-family:human;
	
}

#pfrase{
	 text-align: justify;
    font-size: 1.2em;
	font-style:italic;
	
}




footer{
	background-color:#000000;
	color:#ffffff;
	padding:4%;
	margin-top: 2%;
		
}
#contatos{
	margin-bottom:2%;
}
#contatos2{
	font-family:swiss;
	font-size:0.8em;
}
#contatos div{
	display: inline-block;
	vertical-align:middle;
	width:4%;
}

#contatos div img{
	width:100%;
}

#contatos2 div div{
	display: inline-block;
	vertical-align:middle;	
}

#contatos2 div div img{
	width:100%;	
}



#contatos div div{
	display: inline-block;
	vertical-align:middle;	
}

#titulocontate{
	
	font-size:1.2em;
	color: #ffffff;
	margin-bottom:1%;
	font-family:swiss;
}



@media(max-width:767px) {
	
	#logo img{
	 width:50%;	
}
	
#banner div{
	
	color: #ffffff;
    font-family: swiss;
    font-size: 0.9em;
    margin-top: 25%;
    margin-bottom: 25%;
}

#mensagem1 {
	background-color:#000000;
	color:#ffffff;
	padding:1%;
}

#mensagem1 div{
	display: inline-block;
}

#mensagem1D{
	padding:1%;
	width:100%;
	font-family:swiss;
}

#mensagem1D p{
	margin:0;
	font-size:1.6em;
	margin-bottom:1%;
	font-family:swiss;
}

#mensagem1D div{
	margin-right:5%;
	margin-top:5%;
	font-family:swiss;
}

#mensagem1E{
	padding:1%;
	width:100%;

}

#mensagem1E p{
	margin:0;
	text-align:justify;
	font-size:0.9em;
	font-family:human;
	font-style: italic;
}

#mensagem1E div{
	width: 90%;
	margin-left:5%;
	margin-top:5%;
	margin-bottom: 5%;
}

#linhamensagem {
	background-color:#ffffff;
	height:2px;
	padding:none;
	width:90%;
}


#descricaoserv p{
	margin-top:8%;
	font-size:1em;
	color: #4e3137;
	margin-bottom:6%;
	font-family:swiss;
}

#separador2 {
	width:50%;
}

#expservico div div {
    display: inline-block;
    width: 50%;
    margin: 3%;
	text-align: center;
    font-size: 0.9em;
    margin-bottom: 8%;
}

#expservico div div figure {
    margin:0;
	font-size: 0.9em;
}

#mensagemfD{
	width:100%;
}

#mensagemfE{
	width:100%;
}

#frase {
	margin-left: 10%;
    width: 80%;

}

#comentario {
	 text-align: justify;
    font-size: 1em;
    font-family: human;
    margin-top: 6%;
	
}

#pfrase{
	text-align: justify;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 6%;
	
}

#titulocontate{	
	font-size:1em;
}

#contatos div{
	width:8%;
}

#contatos2{
	font-size:0.7em;
}

#frame{
	margin:5%;
}
	
}

