
#cima{
	background-color:#552d34;
	padding-top:7%;
	padding-bottom:3%;
}

#embreve {
	color:#ffffff;
	font-size:1.2em;
	
}

#logo{
	padding:6%;
}

#logo img{
	width:50%;	
}

footer{
	background-color:#552d34;
	padding:5%;
}

@media(max-width:767px) {
	
#cima{
	background-color:#552d34;
	padding-top:30%;
	padding-bottom:3%;
}

#embreve {
	color:#ffffff;
	font-size:1em;
	
}

#logo{
	padding:10%
}

#logo img{
	width:70%	
}

footer{
	background-color:#552d34;
	height:30%;
}
	
}

@
